/build
/target
/.idea
/.idea_modules
*.iml
/ml-100k
.classpath
.project
.settings/gradle.prefs
libs/voltdb_setup_scripts/voltdbroot/
libs/voltdb_setup_scripts/*.log
libs/voltdb_setup_scripts/procedures/mem_rec/*.class